.config-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    background-color: #d6d6d64f;
    font-family: "Source Sans pro";
}

.config-card{
 width: 80%;
 margin-top: 10px;
 max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
  align-items: center;
  border-radius: 30px;

}
.config-card img{
 width: 100%;
 border-radius: 30px 30px 0px 0px;
}

.toggle-container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100%;
   background:#fff;
   box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
   width: 100%;
   padding-bottom: 30px;
   position: relative;
   bottom: 10px;
   border-radius: 0px 0px 30px 30px;
   margin-bottom: 30px;
}
.toggle-dark-mode{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.circle-toggle{
    height: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    position: relative;
}

.light .circle-toggle{
    left: 0;
    background-color: #066cb1;
    transition: left 400ms ease;
}

.toggle-items{
    margin-top: 10px;
}
.toggle-items select{
    width: 100%;
    min-width: 100px;
    height: 30px;
    border-radius: 10px;
    border: 0;
    outline: none;
    font-size: 14px;
    padding-left: 20px;
    color:#fff;
    margin: 15px 0;
    background-color: #066cb1;
    cursor: pointer;
}

/* -----------DARK MODE.............*/

.dark .circle-toggle{
    left: 30px;
    background-color: #4e4e4e;
    transition: left 400ms ease;
}

.dark .config-container{
    background-color: #4e4e4e;
}