*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home-container{
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
align-items: center;
height: 100vh;
}
.dark .home-container{
    background-color: rgba(1, 24, 58, 0.541);
    color: #fff;
    }

.home-welcome h2{
    font-family: 'Press Start 2P';
    margin-bottom: 20px;
}
.home-welcome img{
    width: 250px;
}
.home-welcome p{
    font-family: "Source Sans pro";
    margin: 25px 0 10px 0;
}
.home-form{
    display: flex;
    position: relative;
}
.home-form input{
    width: 85%;
    border: none;
    border-radius: 30px;
    outline: none;
    font-size: 20px;
    color: rgb(107, 107, 107);
    box-shadow: -10px -10px 15px rgb(58 58 58 / 9%), 10px 10px 15px rgb(66 66 66 / 35%);
    transition: .5s;
    height: 30px;
    padding-left: 10px;
}
.home-form button{
    position: absolute;
    top: 0;
    right: 0;
    left: 80%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    outline: 0;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Pok%C3%A9_Ball_icon.svg/1200px-Pok%C3%A9_Ball_icon.svg.png);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}
.home-form button:hover{
   background-color: #fc5656;
}