*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home-container{
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
align-items: center;
height: 100vh;
}
.dark .home-container{
    background-color: rgba(1, 24, 58, 0.541);
    color: #fff;
    }

.home-welcome h2{
    font-family: 'Press Start 2P';
    margin-bottom: 20px;
}
.home-welcome img{
    width: 250px;
}
.home-welcome p{
    font-family: "Source Sans pro";
    margin: 25px 0 10px 0;
}
.home-form{
    display: flex;
    position: relative;
}
.home-form input{
    width: 85%;
    border: solid 3px rgb(20, 20, 20);
    border-radius: 30px;
    outline: none;
    font-size: 20px;
    color: rgb(107, 107, 107);
    transition: .5s;
    height: 34px;
    padding-left: 10px;
}
.home-form button{
    position: absolute;
    right: 0;
    top: 2.5px;
    left: 80%;
    width: 29px;
    height: 29px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    outline: 0;
    background-image: url(https://w7.pngwing.com/pngs/1014/126/png-transparent-pokeball-illustration-pokemon-go-pokeball-trademark-logo-nintendo-3ds.png);
    background-repeat: no-repeat;
    background-size:cover;
    cursor: pointer;
}
.home-form button:hover{
   opacity: 1;
}